@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import '../../node_modules/bulma/bulma.sass';

// set colors
$purple: #c9168d; 
$pink: #fa7c91; 
$dark: #333; 
$beige-lighter: rgb(245, 245, 245);

// update global variables
$family-sans-serif: 'Nunito', sans-serif; 
$primary: $purple; 
$link: $dark; 
$danger: $pink;

$body-background-color: $beige-lighter;

.login-wrapper { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    .login-box { 
        width: 350px; 
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    } 
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')